.spacing{
    padding-top: 100px;
   
}
.spaceundercityform{
    padding-bottom: 10px;
}
.inspocolor {
    color: black;
    background: linear-gradient(135deg, #bac8d6, #adbecf);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}



.accordion-item:focus:active {
    box-shadow: none;
    /* border-color: rgba(0,0,0,.125); */
    background-color: transparent;
}

.accordian-body{
    background-color:white;
    }
    
    