<div class="container-md ">

<div class="text-center">
    <h4>Example Task List</h4>
    <p>Sign In To Create Your Own</p>
</div>
    
    <table class="table table-secondary table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>Details</th>
                <th>Deadline</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (t of ExampleTasks; track t.taskid) {
            @if(!t.iscomplete){
            <tr>
                <td> <i class="bi bi-square" (click)="toggle(t)"></i></td>
                <td>{{t.task1}}</td>
                <td>{{t.details}}</td>
                <td>{{t.deadline | date: 'shortDate'}}</td>
                <td><button class="bi bi-trash3 buttoncolorblue btn" (click)="DeleteTask(t)"></button></td>
            </tr>
            }
            @else {
            <tr>
                <td> <i class="bi bi-check-square" (click)="toggle(t)"></i></td>
                <td>{{t.task1}}</td>
                <td>{{t.details}}</td>
                <td>{{t.deadline | date: 'shortDate'}}</td>
                <td><button class="bi bi-trash3 buttoncolorblue btn" (click)="DeleteTask(t)" ></button></td>

            </tr>









            }


            }
        </tbody>





    </table>
</div>