

.greendiv{
    background: linear-gradient(135deg, #bac8d6, #adbecf);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
    color: black;
    width: 45%;
    height: 90%;
    min-height: 300px;
}

.bluediv{
    background: linear-gradient(135deg, #bac8d6, #adbecf);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.1);
    color: black;
    width: 45%;
}

.link-dark{
    text-decoration: none;
}
.fixed
{
    position: fixed;
   
}
.sticky-offset {
    top: 70px;
}