<div class="container-md">
  <div class="row d-flex justify-content-between">
    <div class="bluediv p-2">
      <table class="table table-hover">
        <thead>
          <th colspan="3">My Meals</th>
        </thead>
        <tbody>
          @for (m of userMeals; track m.mealId) {
          <tr>
            <td>
              @if( m.isCompleted) {
              <i class="bi bi-check-square" (click)="completeMeal(m)"></i>
              } @else {
              <i class="bi bi-square" (click)="completeMeal(m)"></i>
              }
            </td>
            @if (m.url != null) {
              <td (click)="(m.url)">
                <a class="link-dark link-opacity-75-hover" href="{{ m.url }}"><i class="bi bi-link-45deg"></i>{{ m.title }}</a>
              </td>
            }
            @else {
              <td>{{m.title}}</td>
            }
           
            <td class="align-items-center text-center">
              <div>
                @if(m.like == true) {
                <button class="bi bi-star-fill star" (click)="likeMeal(m)"></button>
                } @else {
                <button class="bi bi-star star" (click)="likeMeal(m)"></button>
                }
              </div>
              <div>
                <button class="bi bi-trash3 buttoncolorblue btn" (click)="DeleteMeal(m.mealId)"></button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>

      <app-add-meal-form (Submitted)="AddMeal($event)"></app-add-meal-form>
    </div>
      <div class="sticky-top sticky-offset greendiv p-2">

        @if(displayRecipe == true){
        <button class="buttoncolorblue btn me-1 " (click)="ShuffleRecipe()">
          Shuffle
        </button>
        <button class="btn buttoncolorblue" (click)="ShowRecipe()">
          hide recipe
        </button>
        <h4>
          <img class="rounded mt-1 mb-1 me-1" [width]="50" [src]="randomRecipe.photoUrl" /><a
            class="link-dark link-opacity-75-hover" href="{{ randomRecipe.url }}"><i class="bi bi-link-45deg"></i>{{ randomRecipe.title }}</a>
        </h4>

        <p>{{ randomRecipe.ingredients }}</p>

        <button class="buttoncolorpink btn me-2" (click)="ConvertRecipetoMeal(randomRecipe)">
          Add this meal
        </button>


        } @else{
        <p>Click Here for a random Recipe suggestion!</p>
        <button class="buttoncolorblue btn" (click)="ShowRecipe()">
          Recipe
        </button>

        }
      </div>
    </div>
  </div>