
<div class="container-fluid pb- 8">
    <nav class="navbar navbar-expand navbar-light navbar-custom fixed-top mb-8">
        


        @if (!IsLoggedIn()){
        <a class="navbar-brand" routerLink="/">Procrastinator Planner</a>
        <span class="ms-auto google-btn">
            <asl-google-signin-button type="standard" text="continue_with"></asl-google-signin-button>
        </span>
        }
        @else {
        <a class="navbar-brand" routerLink="/homepage">Procrastinator Planner</a>
        <a class="nav-link" routerLink="/profile">Profile</a>
        <span class="ms-auto google-btn">
            <a class="nav-link" (click)="signOut()" routerLink="/">Sign Out</a>


        </span>
        }


    </nav>
</div>




<div class="container pt-4 bg-light">
    <router-outlet></router-outlet>
  </div>
