<div class="container">
    <div class="row justify-content-center ">
        <div class="col-6 d-flex 
        text-center flex-column">
            <h3>Profile</h3>
            
            <p>{{currentUsers.firstname}} {{ currentUsers.lastname }}</p>

            <label  class="strong" for="display">Change Daily Inspo</label>
            <select class="form-select mb-1" name="display" id="display" [(ngModel)]="currentUsers.display">
                <option value="joke">Joke</option>
                <option value="quote">Quote</option>
                <option value="weather">Weather</option>
                <option value="trivia">Trivia</option>
            </select>
            <button class="btn buttoncolorblue" type="submit" (click)="updateUser(this.currentUsers)">Set Display</button>
            <br>


            @if(!deletedisplay){
            <button class="btn buttoncolorblue" (click)="toggleDisplay()">Delete Account</button>
            }
            @else {
            <div class="overlay">
                <div class="form-popup">

                    <p>Are you sure? Once you delete your account, all your data will be lost. </p>
                    <button class="btn buttoncolorblue me-1" (click)="toggleDisplay()">Nevermind, I want to keep my account</button>
                    <button class="btn buttoncolorblue ms-1"  routerLink="/" (click)="deleteUser(this.currentUsers.userid)">Delete Account</button>
                </div>
            </div>
            }

        </div>
    </div>

</div>