
            <app-add-task-form (Submitted)="addTask($event)"></app-add-task-form>
 

@for (t of AllTasks; track t.taskId) {
    @if(t.userId == this.getUser()){
        @if(t.isComplete == true){
            <h6><button (click)="completeTask(t)">checked</button>{{t.task1}}  {{t.deadline}}</h6>
            <p>{{t.details}}</p>
        } 
        @else{
            <p><button (click)="completeTask(t)">not checked</button> {{t.task1}} {{t.deadline | date: 'shortDate'}}</p>
            <p>{{t.details}}</p>
        } 
        }
        
    }

