<div class="container-md p-3">
   
  <h5 class="text-center">Daily Task Planner</h5>
    <table class="table table-secondary table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Task</th>
                <th>Details</th>
                <th>Deadline</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (t of userTask; track t.taskId) {

            @if(t.isComplete == true){
            <tr>

                <td> <i class="bi bi-check-square" (click)="completeTask(t)"></i></td>
                <td>{{t.task1}}</td>
                <td>{{ t.details }}</td>
                <td>{{t.deadline | date:'shortDate'}}</td>
                <td><button class="bi bi-trash3 buttoncolorblue btn" (click)="deleteTask(t.taskId)"></button> </td>

            </tr>
            }

            @else{
            <tr>
                <td><i class="bi bi-square" (click)="completeTask(t)"></i></td>
                <td>{{t.task1}}</td>
                <td>{{ t.details }}</td>
                <td>{{t.deadline | date: 'shortDate'}}</td>
                <td><button class="bi bi-trash3 buttoncolorblue btn" (click)="deleteTask(t.taskId)"></button></td>
            </tr>




          

            }
            }
        </tbody>




    </table>


 
</div>
<div class="text-center pb-3">

    <app-add-task-form (Submitted)="addTask($event)"></app-add-task-form>
</div>