@if(!display){
<button (click)="toggleAdd()">Add a Task</button>
} @else {
<div class="overlay">
  <div class="form-popup">
    <form ngNativeValidate>
      <h2>Add Meal</h2>
      <label for="title">Title</label>
      <input
        id="title"
        type="text"
        name="title"
        [(ngModel)]="this.formMeal.title"
      />
      <label for="url">Url</label>
      <input id="url" type="text" name="url" [(ngModel)]="this.formMeal.url" />
      <button type="submit" (click)="emitSubmitted()">Add Meal</button>
      <button (click)="toggleAdd()">X</button>
    </form>
  </div>
</div>
}
