@if(!display){
<button class="btn buttoncolorblue mb-2" (click)="toggleAdd()">Add a Meal</button>
} @else {

<div class="overlay">
<div class="formstyle">
  <div class="form-popup formstyle">
    <form (ngSubmit)="emitSubmitted()" ngNativeValidate>
      <div class="d-flex justify-content-between">
      <h3>Add Meal </h3>
      <button class="btn" (click)="toggleAdd()">X</button>
      </div>
      <label for="title" class="form-label">Title</label>
      <input
        id="title"
        type="text"
        name="title"
        class="form-control"
        [(ngModel)]="this.formMeal.title"
        required=""
      />
      <label for="url" class="form-label">Url(optional)</label>
      <input id="url" type="text" name="url" class="form-control" [(ngModel)]="this.formMeal.url" />
      <button class="buttoncolorblue btn mt-2" type="submit">Add Meal</button>

    </form>
  </div>
</div>
</div>
}
